<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>big16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>com.itbank.ContextStartEnd</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>h</servlet-name>
  	<servlet-class>com.itbank.Hello</servlet-class>
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>h</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>i</servlet-name>
  	<servlet-class>com.itbank.Hi</servlet-class>
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>pw</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>i</servlet-name>
  	<url-pattern>/Hi</url-pattern>
  </servlet-mapping>
</web-app>