<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- <bean id="car" class="com.itbank.mvc08.SportsCar">
	<constructor-arg ref="window"></constructor-arg>
	<constructor-arg value="빨강"></constructor-arg>
	<constructor-arg value="200"></constructor-arg>
</bean>
<bean id="window" class="com.itbank.mvc08.StrongWindow"></bean> -->
<bean id="supercar" class="com.itbank.mvc08.SuperCar">
	<constructor-arg ref="stwindow"></constructor-arg>
	<constructor-arg ref="gdoor"></constructor-arg>	
</bean>
<bean id="gdoor" class="com.itbank.mvc08.GeneralDoor"></bean>
<bean id="stwindow" class="com.itbank.mvc08.StrongWindow"></bean>

<bean id="sportscar" class="com.itbank.mvc08.SportsCar">
	<property name="window" ref="atwindow"></property>
	<property name="door" ref="sdoor"></property>
</bean>
<bean id="sdoor" class="com.itbank.mvc08.SkyDoor"></bean>
<bean id="atwindow" class="com.itbank.mvc08.AutoWindow"></bean>

</beans>
