<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>servletTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet><!-- 최초 정의로 서블릿을 사용하겠다고 정의 하는 것 -->
  	<servlet-name>s</servlet-name>
  	<servlet-class>bean.Spring</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>s</servlet-name>
  	<url-pattern>/spring</url-pattern>
  </servlet-mapping>
  
  <servlet><!-- 최초 정의로 서블릿을 사용하겠다고 정의 하는 것 -->
  	<servlet-name>s2</servlet-name>
  	<servlet-class>bean.Hello2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>s2</servlet-name>
  	<url-pattern>/Hello2</url-pattern>
  </servlet-mapping>
  
  <servlet><!-- 최초 정의로 서블릿을 사용하겠다고 정의 하는 것 -->
  	<servlet-name>sum</servlet-name>
  	<servlet-class>bean.SummerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sum</servlet-name>
  	<url-pattern>/summer</url-pattern>
  </servlet-mapping>
</web-app>