<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mDAO"><!-- SQL설정할 때는 이곳에서 함 -->

	<select id="select" parameterType="mDTO" resultMap="rsMap">
		SELECT * FROM member
		WHERE id = #{id}<!-- #EL문은 미리 실행할 준비 후 값이 들어오면 바로 실행 -->
	</select>

	<resultMap type="mDTO" id="rsMap">
		<result property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
	</resultMap>

	<select id="selectAll" resultMap="rsMap">
		SELECT * FROM member <!-- Mapper 파일은 세미콜론을 쓰지 않음 -->
	</select>

	<insert id="insert" parameterType="mDTO">
		INSERT INTO member
		VALUES(#{id},#{pw},#{name},#{tel})
	</insert>

	<update id="updateSomething" parameterType="mDTO">
		UPDATE member
		SET
		tel= #{tel}
		WHERE
		id = #{id}
	</update>

	<delete id="delete" parameterType="mDTO">
		DELETE FROM member WHERE
		id = #{id}
	</delete>

</mapper>
